.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
README.md
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
local_settings.py
db.sqlite3
.env
media/ # Não copiar mídia para a imagem, usar volume
static_collected/
*.log